@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

/* font-family: 'Epilogue', sans-serif; */

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

:root {
    font-family: 'Epilogue', sans-serif;
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}

* {
    box-sizing: border-box;
}

p {
    font-size: 18px;
}

nav {
    display: flex;
    width: 100%;
}

nav > .nav-section {
    padding: 1.5rem 0.5rem;
    display: flex;
    gap: 1rem;
}

.nav-section a {
text-decoration: none;
}

#nav-logo-section {
    flex-basis: calc(100%/10);
}

#nav-link-section {
    flex-basis: 100%;
}

#nav-cta-section {
    flex-basis: calc(100%/5);
}

ul {
    list-style-type: none;
}

.drop-button {
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: azure;
}

dropdown-content a {
    text-decoration: none;
}

.dropdown-content a:hover {
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown i {
    display: inline-block;
}

.dropdown:hover > i{
    transform: rotate(180deg);
}

.hero {
    display: grid;
    /* height: 87vh; */
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: max-content;
    /* grid-gap: 5rem; */
    column-gap: 5rem;
}

.hero-picture {
    grid-row: 1/3;
    grid-column: 2/3;
}

.hero-picture img {
    height: 80vh;
    width:auto;
}

.hero-information {
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 100px; */
    /* align-content: centermargin: 0;
/* padding: 0;;
    justify-content: center; */
}

.hero-clients {
    display: flex;
    margin: 0rem 3rem 2rem 3rem;
    padding: 0rem 5rem;
    gap: 50px;
}

.hero-clients img {
height: auto;
max-width: max-content ;
}

.hero-information__text {
    margin: 0rem 3rem 2rem 3rem;
    padding: 5rem 5rem 2rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero-information__text h1{
font-size: 5rem;
font-weight: 700;
 margin-bottom: 0;
 padding-bottom: 0;
}

#learn-more-button {
    font-size: 18px;
    padding: 1rem 2rem;
    border-radius: 18px;
    background-color: var(--almost-black);
    color: var(--almost-white);
    font-family: 'Epilogue', sans-serif;
}

#learn-more-button:hover {
    cursor: pointer;
}

.paragraph {
    line-height: 30px;
    color: var(--almost-black);
}

.heading p{
    font-size: 4rem;
    padding: 0;
    margin: 0;
    font-weight: 700;
}

.attribution {
    margin-left: 1rem;
    padding-left: 6.5rem;
    text-align: start;
}

.attribution a {
    text-decoration: none;
}